//@import "nullstyle.scss";
@font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 400;
   src: url("/fonts/PTSans-Regular.woff2") format("woff2");
   font-display: swap;
}

@font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 700;
   src: url("/fonts/PTSans-Bold.woff2") format("woff2");
   font-display: swap;
}

@font-face {
   font-family: "PT Sans";
   font-style: italic;
   font-weight: 400;
   src: url("/fonts/PTSans-Italic.woff2") format("woff2");
}

@font-face {
   font-family: "PT Sans";
   font-style: italic;
   font-weight: 700;
   src: url("/fonts/PTSans-BoldItalic.woff2") format("woff2");
   font-display: swap;
}

@font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 700;
   src: url("/fonts/PTSans-NarrowBold.woff2") format("woff2");
   font-display: swap;
}
body {
   font-family: "PT Sans Narrow", sans-serif;
   font-size: 16px;
   line-height: 24px;
   color: #242424;
   background-color: #fbf7f4;
}
.page-header {
   color: #ffffff;
   background: #000000;
}
.wrapper {
}
.navigation {
}
.navigation-link {
   font-family: "PT Sans Narrow", sans-serif;
   line-height: 22px;
   font-weight: 700;
   text-align: center;
   color: #ffffff;
   background-color: #000000;
   text-decoration: none;
   text-transform: uppercase;

}
.navigation-item {
}
.navigation-link {
}
.navigation-user {
}
.visually-hidden {
}

.main-index {
   color: #ffffff;
   background-color: #000000;
   background-image: url("/img/background01.jpg");
   background-size: 100% auto;
   background-repeat: no-repeat;
}

.main-inner {
   color: #242424;
   background-color: #FBF7F4;
   background-image: url("/img/noisy-texture.png");
   
 }

.inner-header-title {
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}
.breadcrumbs {
   color: #242424;
}
.breadcrumbs-item {
}
.breadcrumbs-link {
   color: inherit;
}

.filter-section {
}
.catalog-filter {
}
.catalog-filter-group {
}
.catalog-filter-title {
   font-size: 20px;
   line-height: 28px;
   font-weight: 700;
   color: #242424;
   text-transform: uppercase;
}
.sorting-section {
}
.sorting-type {
}
.visually-hidden {
}
.select-control {
}
.button {
}
.button-light {
   color: #242424;
   background-color: #FFFFFF;
}

.product-section {
}
.product-list {
}
.product-item {
}
.product-card {
   background-color: #FFFFFF;
}
.product-card-link {
   text-decoration: none;
}
.product-card-image {
}
.product-card-title {
   font-weight: 700;
   color: #242424;
}
.product-card-price {
   font-size: 24px;
   line-height: 29px;
   font-weight: 700;
   color: #814B18;
   text-transform: uppercase;
}
.product-card-button {
}
.button {
}
.pagonation-section {
}
.pagonation {
   background-color: #FFFFFF;
}
.pagonation-item {
}
.pagonation-link {
   color: #FFFFFF;
   background-color: #000000;
   text-decoration: none;
   line-height: 16px;
   font-weight: 700;
}
.pagonation-prev {
}
.pagonation-disabled {
   background-color: #595959;
}
.visually-hidden {
}
.pagonation-current {
   color: #242424;
   background-color: #FFFFFF;
}
.pagonation-next {
}
.pagonation-show-more {
}

.range-toggle {
}
.toggle-min {
}
.toggle-max {
}
.catalog-filter-label {
}
.catalog-filter-input {
}
.catalog-filter-list {
}
.catalog-filter-item {
}
.control {
}
.control-input {
}
.contol-mark {
}
.control-label {
   font-weight: 700;
}

.sorting-container{
   color: #000000;
   background-color: #FFFFFF;
}

.advantages {
}
.advantages-list {
}
.advantages-item {
}
.advantages-title {
   font-family: "PT Sans Narrow", sans-serif;
   font-size: 32px;
   line-height: 35px;
   text-transform: uppercase;
}
.advantages-description {
}

.index-columns {
   color: #242424;
   background-color: #fbf7f4;
   background-image: url("/img/noisy-texture.png");
}

.services {
   text-transform: uppercase;
}
.servises-title {
   font-size: 32px;
   line-height: 35px;
   font-weight: 700;
}
.servises-list {
   font-size: 20px;
   line-height: 28px;
   font-weight: 700;
}
.servises-item {
}
.servises-name {
}
.servises-price {
   color: #af7842;
}
.button {
   font-family: inherit;
   font-size: 16px;
   line-height: 16px;
   font-weight: 700;
   text-align: center;
   color: #ffffff;
   background-color: #000000;
   text-decoration: none;
   text-transform: uppercase;
}
.button-all {
}
.gallary {
}
.gallary-title {
   font-size: 32px;
   line-height: 35px;
   font-weight: 700;
   text-transform: uppercase;
}
.slider-image {
}
.slider-button {
}
.slider-prev {
}
.slider-next {
}
.slider-pagintion {
}
.slider-pagintion-item {
}
.slider-pagintion-button {
}
.contacts {
   font-weight: 700;
}
.contacts-title {
   font-size: 32px;
   line-height: 35px;
   font-weight: 700;
   text-transform: uppercase;
}
.contacts-subtitle {
   font-size: 20px;
   line-height: 28px;
   text-transform: uppercase;
   color: #af7842;
}
.contacts-address {
   font-style: normal;
}
.contacts-address-text {
}
.contacts-phone {
   font-size: 24px;
   line-height: 29px;
   text-decoration-line: underline;
   text-transform: uppercase;
   color: #242424;
}
.contact-schedule {
}
.contact-schedule-item {
}
.button-feedback {
}
.appointment {
}
.appointment-title {
   font-size: 32px;
   line-height: 35px;
   font-weight: 700;
   text-transform: uppercase;
}
.appointment-form {
   color: #595959;
}
.appointment-form-date {
}
.form-label {
   line-height: 24px;
   font-weight: 700;
   text-transform: uppercase; 
}
.form-label-icon {
}
.info {
}
.appointment-form-time {
}
.page-footer {
   font-size: 14px;
   font-weight: 700;
   color: #FFFFFF;
   background-color: #242424;
   background-image: url("images/bg-noisy.png");
   background-repeat: repeat;
}
.page-footer a {
   color: #FFFFFF;
}
.page-footer .htmlacademy-link {
   font-size: 14px;
   color: #DBB590;
 }
.page-footer-contacts {
}
.footer-contacts-logo {
}
.footer-contacts-address {
   font-style: normal;
}
.footer-contacts-address-text {
   font-size: 14px;
   line-height: 20px;
   font-weight: 700;
   color: #FFFFFF;
}
.footer-contacts-phone {
   font-family: "PT Sans Narrow", sans-serif;
   font-size: 20px;
   line-height: 28px;
   font-weight: 700;
   text-decoration: underline;
   text-transform: uppercase;
}
.footer-contacts-map-link {
   font-family: "PT Sans Narrow", sans-serif;
   font-size: 20px;
   line-height: 26px;
   font-weight: 700;
   color: #FFFFFF;
   text-decoration: underline;
   text-transform: uppercase;
}
.page-footer-newsletter {
}
.page-footer-title {
   font-family: "PT Sans Narrow", sans-serif;
   font-size: 20px;
   line-height: 28px;
   font-weight: 700;
   color: #FFFFFF;
   text-transform: uppercase;
}
.newsletter-form {
}
.newsletter-email {
}
.field {
}
.newsletter-button {
}
.page-footer-social {
}
.footer-social-list {
}
.footer-social-item {
}
.about-text {
}
.htmlacademy-link {
}
